.table-hover tbody tr:hover > td {
    cursor: pointer;
}
.logo {
    display: block;
    width: 100px;
    margin: 0;
    height: 80px;
    text-indent: -9999px;
    background: url(http://discovery.digitalshowcase.piksel.com/i/brand-logo.png) left center no-repeat;
    background-size: 75% auto;
}
#logs {
 overflow:auto;
 height:400px;
}