<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Sync Demo Player</title>
    
    
    
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>

        <link rel="stylesheet" href="css/style.css">

    
    
    
  </head>

  <body>

    <html>

<head>

</head>

<body ng-app="app" ng-controller="appCtrl">
 <h1><a href="" class="logo">Home</a>{{title}}</h1>
<!--   <form>
    <input class="form-control" type="text" ng-model="app.src" placeholder="src" />
    <input type="text" class="form-control" ng-model="app.title" placeholder="title" />

    <select class="form-control" ng-model="app.category" ng-options="value for value in categories">
      
    </select>
    <input class="form-control" type="string" ng-model="app.thumbnail" placeholder="thumbnail" />
    <button class="form-control btn btn-primary type=" button " ng-click="add() ">+</button>
    </form> -->
  <select class="form-control" ng-model="session" ng-options="value.id for value in sessions" ng-change="changedValue(session)">
      
    </select>
    <table class="table table-striped table-hover  " style="width:100% ">
      <thead>
        <th>Src</th>
        <th>Title</th>
        <th>Category</th>
        <th>Thumbnail</th>
      </thead>
      <tbody>
        <tr ng-repeat="value in DB " ng-click="play(value) ">
          <td>{{value.src}}</td>
          <td>{{value.title}}</td>
          <td>{{value.category}}</td>
          <td><img <img ng-src="{{value.thumbnail}}"/></td>
     
        </tr>
      </tbody>
    </table>
    <div class="row">
  <div class="col-md-6"><video id="myvideo" width="100%" controls>
      <source src="" type="video/mp4"></source>
      Your browser does not support HTML5 video.
  </video></div>
  <div class="col-md-6" id="logs"></div>
 <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.min.js "></script>
 <script src="https://cdn.firebase.com/js/client/2.0.4/firebase.js "></script>
<!-- AngularFire -->
<script src="https://cdn.firebase.com/libs/angularfire/0.9.2/angularfire.min.js "></script>
  </body>
</html>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>

        <script src="js/index.js"></script>

    
    
    
  </body>
</html>
